.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 20px;
  justify-items: flex-start; /* Aligns the cards to the left */
}

/* Default grid for larger screens (8 items per row) */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Grid for smaller laptops (6 items per row) */
@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Grid for phone screens (2 items per row) */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  width: 100%; /* Automatically adjust card width to fit grid */
  max-width: 200px; /* Optional: maximum width for each card */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 250px; /* Adjust card height as needed */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardImageContainer {
  height: 80%;
  overflow: hidden;
  background-color: #FFF;
  border-bottom: 2px solid #DDD;
  position: relative;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardTitle {
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  text-align: left;
}

.noCategories {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 50px;
}

.spinner {
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
  color: #000;
  margin-left: 20px;
}
