/* Default grid settings for all screen sizes */
.products-containerGrid,
.products-containerGrid2,
.products-containerGrid5,
.products-containerGrid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Flexible columns */
  gap: 0px;
  padding: 0;
}



.skeleton-cardGrid {
  width: 200px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton-imageGrid {
  width: 140%;
  height: 150px;
}

.skeleton-titleGrid {
  width: 100%;
}
/* Large screen (laptops and desktops) */
@media (min-width: 1424px) {
  .products-containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }
  .products-containerGrid2 {
    grid-template-columns: repeat(5, 1fr);
  }
 
  .products-containerGrid5  {
    grid-template-columns: repeat(6, 1fr);
  }
  .products-containerGrid3{
    grid-template-columns: repeat(7, 1fr);
  }
}

/* Medium-large screens (smaller laptops and large tablets) */
@media (max-width: 1424px) {
  .products-containerGrid {
    grid-template-columns: repeat(4, 1fr);
  }
  .products-containerGrid2 {
    grid-template-columns: repeat(5, 1fr);
  }
  .products-containerGrid3 {
    grid-template-columns: repeat(7, 1fr);
  }
  .products-containerGrid5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Medium screens (tablets) */
@media (max-width: 1254px) {
  .products-containerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .products-containerGrid2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .products-containerGrid3 {
    grid-template-columns: repeat(7, 1fr);
  }
  .products-containerGrid5 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Small screens (small tablets and large mobile devices) */
@media (max-width: 768px) {
  .products-containerGrid,
  .products-containerGrid2,
  .products-containerGrid3,
  .products-containerGrid5 {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
  .skeleton-cardGrid {
    width: 140px; /* Adjust width for smaller screens */
  }

  .skeleton-imageGrid {
    height: 120px;
  }
}

/* Extra small screens (mobile devices) */
@media (max-width: 480px) {
  .products-containerGrid,
  .products-containerGrid2,
  .products-containerGrid3,
  .products-containerGrid5 {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }
}
